{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
<div class="container" style="padding-top: 3%">
<div class="card bg-bisque shadow-lg details" style="width: 18;">
  <img class="card-img-top bg-bisque details" src="{{ foto.url }}" alt="">
  <div class="card-body bg-bisque details">
    <p class="card-text text-center">{{ descricao }}</p>
  </div>
</div>
  <br>
  <br>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{% endblock %}