{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="container bg-warning" style="padding-top: 1%;">
    <div class="row">
       <form>
        <div class="row">
           {% for x in data %}
           <div class="col-sm-4">
            <a href="{{ x.foto.url }}">
               <figure class="figure">
               <img src="{{ x.foto.url }}" class="figure-img img-fluid rounded">
           </figure>
            </a>
           </div>
            {% endfor %}
            </div>
           </form>
      </div>
  </div>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{% endblock %}