.bg-bisque {
    background-color: #DEF3E2;
    font-family: "Verdana"
    color: #336633;
}

body {
    background-color: #DEF3E2;
    font-family: "Verdana";
    color: #336633;
}

.details {
    color: #336633;
    border-color: #336633;
    border-style: dashed;
    border-width: 2px;
    font-family: "Verdana"
}

.border_nav {
    border-style: bottom solid;
    border-width: 1px;
}